{% extends "main_app/header.html" %}

{% block content %}
    <!--
    {% for out_var in output %}
        <p>{{out_var}}</p>
    {% endfor%}
	-->
    <div class="screen">
    <h1>Android Prototype</h1>
    <br><br><br><br><br>

    <div class='container'>
        <h2 class = "io"> User Input </h2>
    	<form method='post'>
    		{% csrf_token %}

    		{{dropdown.as_p}}
            {{form.as_p}}
    		
    		<button type='submit'>Submit</button>
    	</form>
        <br><br>

        <h2 class = "io"> Output </h2>
        Inputted Province: {{province}}<br>
        Inputted Price: ${{price}}<br>
    <br>
    <br>
    <div class="result">
        {{tax}} <br>
        {{tip}} <br>
        {{total}} <br>
    </div>
    <div class = 'err_msg'>
        {{error}} 
    </div>
    </div>
    </div>

{% endblock %}