{% extends "main_app/header.html" %}

{% block content %}
    <!--
    {% for out_var in output %}
        <p>{{out_var}}</p>
    {% endfor%}
	-->
	<h1 id="id1"> MEET US </h1>

	<div class="sec1">
	<img src="../../static/main_app/img/photoKim.jpg" style="height:300px; margin-left: 50px"><br><br>
		<h2><strong>Seungwoo Kim: Main Developer</strong></h2>
			<p>
				<strong>Software Engineering, Concordia Univerty (currently)</strong> <br>
				<strong>Email:</strong> seungwookim08@gmail.com <br>
				<strong>Linked-In:</strong> <a href ="https://www.linkedin.com/in/seungwoo-k-29115067/">https://www.linkedin.com/in/seungwoo-k-29115067/ </a><br>
				<strong>Github</strong>:<a href= "https://github.com/seungwookim08">&nbsp;https://github.com/seungwookim08</a><br>
				<strong>Project Webpage:</strong>
				<a href= "https://seungwoo-kim.firebaseapp.com">https://seungwoo-kim.firebaseapp.com</a>
			</p>
	</div>

	<div class="sec2">			
			<img src="../../static/main_app/img/gyu_lim.jpg" style="height:300px; margin-left: 50px"><br><br>
			
			<h2><strong>Gyu Lim: Software Integration </strong></h2>
			<p>
				<strong>M.Eng. McGill University</strong> <br>
				<strong>Email:</strong> gyu-hyeong.lim@mail.mcgill.ca <br>
				<strong>Linked-In:</strong> <a href ="https://ca.linkedin.com/in/gyu-hyeong-lim-46048b106">https://ca.linkedin.com/in/gyu-hyeong-lim-46048b106 </a><br>
			</p>
	</div>


{% endblock %}